.our-services{
 min-height: 100vh;
  width: 100%;
  padding: 90px 45px;
  background: linear-gradient(var(--grey-light-super), var(--grey-dark));
}
.our-services h1{
  margin-bottom: 16px;
  color: var(--braun);
}
.our-services-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  gap: 32px;
}
@media (max-width: 400px) {
  .our-services{
    padding:90px 8px ;
  }
  .our-services-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    
  }
}
